.GenerationProgress {
    padding: 97px 183px;
    height: 68vh;
}

.GenerationProgress_header {
    font-size: 24px;
    color: #3BA9E7;
    ;
}

.GenerationProgress_subheader {
    font-size: 18px;
    color: #B5B5B5;
}

.GenerationProgress_req_id {
    font-size: 14px;
    color: #B5B5B5;
}

.GenerationProgress_loading_bar {
    width: 100%;
    height: 18px;
    background-color: #EAEAEA;
    margin: 36px 0 26px 0;
}

.GenerationProgress_progress {
    width: 1%;
    height: 18px;
    background-color: #3BA9E7;
}

.GenerationProgress_refresh {
    font-size: 14px;
    color: #3BA9E7;
    text-align: center;
}