.GenerationFailed {
    padding: 97px 183px;
    height: 68vh;
}

.GenerationFailed_header {
    font-size: 24px;
    color: #3BA9E7;
    ;
}

.GenerationFailed_req_id {
    font-size: 14px;
    color: #B5B5B5;
}
